.node {
    width: 20px;
    height: 20px;
    outline: 2px solid black;
}

.node-finish {
    width: 20px;
    height: 20px;
    outline: 2px solid black;
    background-color: red;
}

.node-start {
    width: 20px;
    height: 20px;
    outline: 2px solid black;
    background-color: green;
}

.node-path {
    width: 20px;
    height: 20px;
    outline: 2px solid black;
    background-color:blueviolet;
}

.node-visited {
    width: 20px;
    height: 20px;
    outline: 2px solid black;
    background-color:gold;
}

