.grid{
    padding: 25px 0 50px 0;
    background: radial-gradient(gray, white);
    outline: 10px wheat;

}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reset{
    margin: 10px 10px 10px 10px;
    padding: 6px 24px;
    border-radius: 12px;
    width: 180px
}

.menu{
    background: linear-gradient(blue, darkblue);
    padding: 20px;
    outline: 10px wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions{
    font-weight: bold;
    font-size: 32px;
}

.algoButton{
    margin: 0px 10px 0px 10px;
    padding: 12px 28px;
    border-radius: 12px;
    color: white;
    background-color:darkslategray;
}
/*Look at css buttons on Google to see more customizable stuff*/

.options{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.start{
    font-family: inherit;
    font-weight: bolder;
    font-size: large;
    margin: 10px 10px 10px 10px;
    padding: 6px 24px;
    border-radius: 12px;
    width: 180px;
    
}